body {
  overflow: hidden;
} 

#page-body {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  overflow: scroll;
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: -webkit-fill-available;
}

.keypad-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  /* Add vertical space */
  padding: 10px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.key,
.input-field {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #678abd;
  color: white;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.input-field {
  background-color: white;
  color: #678abd;
  border: 2px solid #678abd;
  text-align: center;
}

.input-field:disabled {
  opacity: 1;
  /* Override default opacity for disabled input fields */
  color: #678abd;
  /* Ensure text color is visible */
}

.submit-button {
  grid-column: span 3;
  padding: 20px;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  user-select: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  /* margin-top: 20px; */
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight {
  border: 2px solid #cdae52;
}

.key-pressed {
  background-color: #cdae52;
}

/* Responsive design for mobile devices */
@media (max-width: 600px) {

  .key,
  .input-field {
    width: 50px;
    height: 50px;
    font-size: 14px;
  }

  .submit-button {
    padding: 15px;
    font-size: 14px;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }

  .keypad {
    gap: 5px;
  }
}