html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden; /* Prevent vertical scroll */
  height: 100%; /* Ensure full height */
}

#page-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Use 100vh to ensure full viewport height */
  min-height: -webkit-fill-available; /* Ensure full height on iOS */
}

.keypad-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em; /* Add vertical space */
  padding: 0.5em;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.key,
.input-field {
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #678abd;
  color: white;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.input-field {
  /* min-width: 4em;
  min-height: 4em; */
  padding: 0;
  background-color: white;
  color: #678abd;
  border: 0.2em solid #678abd;
  text-align: center;
}

.input-field:disabled {
  opacity: 1;
  /* Override default opacity for disabled input fields */
  color: #678abd;
  /* Ensure text color is visible */
}

.submit-button {
  grid-column: span 3;
  padding: 1em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  user-select: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 1em;
  /* margin-top: 20px; */
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight {
  border: 0.2em solid #cdae52;
}

.key-pressed {
  background-color: #cdae52;
}

/* Responsive design for mobile devices 
@media (max-height: 600px) {
  .letter-container {
    height: 80%;
  }
} */
 
#page-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 90vh; /* Full viewport height */
  min-height: -webkit-fill-available; /*  Ensure full height on iOS */
  padding-top: 2em; /* Optional: Add some spacing from the top */
}


.letter-container {
  max-width: 800px;
  height: calc(100vh - 10em);
  margin: 0 auto;
  padding: 2em;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  overflow-y: auto; /* Enable vertical scrolling */
  position: relative; /* Ensure the container stays stationary */
  box-sizing: border-box; /* Include padding in height calculation */
}

/* .letter-container {
  max-width: 800px;
  height: 90%;  
  margin: 0 auto;
  padding: 2em;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  overflow-y: auto;
  position: relative; 
} */

.letter-header,
.letter-body,
.letter-footer {
  margin-bottom: 2em;
}